<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="demo-receptor.html">
<link rel="import" href="login-app.html">
<dom-module id="demo-padre">
  <template is="dom-bind">
    <style>
      :host {
        display: block;
      }
      demo-receptor[hidden] {
        display: none;
      }
      login-app[hidden] {
        display: none;
      }
    </style>
    <login-app     hidden$="{{!logado}}" id="login"></login-app>
    <demo-receptor hidden$="{{logado}}" id="receptor" ></demo-receptor>
  </template>
</dom-module>
<script>
class DemoPadre extends Polymer.Element{
  static get is(){return 'demo-padre';}
  ready(){
    super.ready()
    this.$.login.addEventListener('loginok', e => {this.processLogin(e)})
    this.$.receptor.addEventListener('logoutok', e => {this.processLogout(e)})
  }
  static get properties(){
    return {
      logado:{
        type: Boolean,
        value: true
      }
  }
  };
  processLogin(e){
    this.logado = false;
    console.log("Padre", e.detail);
    this.$.receptor.showData(e.detail);
  }
  processLogout(e){
    this.logado = true;
    console.log("PadreSalida", e.detail);
    this.$.login.clearData(e.detail);
  }
}
window.customElements.define(DemoPadre.is, DemoPadre);
</script>
