<dom-module id="demo-emisor">
  <template is="dom-bind">
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el emisor</h1>
    <button on-click="hacerLogin">Pùlsame</button>
  </template>
</dom-module>
<script>
class DemoEmisor extends Polymer.Element{
  static get is(){return 'demo-emisor';}
  static get properties(){
    return {

    };
  }
  hacerLogin(e){
    console.log("EMISOR: He pulsado el botón")
    this.dispatchEvent(new CustomEvent('loginok',{detail:{usuario:"Paco", origen:"TechU", pais:"Colombia"}}))
  }
}
window.customElements.define(DemoEmisor.is, DemoEmisor);

</script>
