<dom-module id="demo-receptor">
  <template is="dom-bind">
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hola {{data.email}}, bienvenido a Ritxon Bank</h2>
    <h3>Tus datos:</h3>
    <h4>Correo:  {{data.email}} </h4>
    <h4>Identificación:  {{data.id}}</h4>
    <button on-click="logout">Salir</button>
    <iron-ajax
        id="logoutRequest"
        url="http://localhost:3000/colapi/v3/logoutmlab"
        handle-as="json"
        content-type="application/json"
        method="post"
        on-error="responseError"
        on-response="responseOK">
    </iron-ajax>
  </template>
</dom-module>
<script>
class DemoReceptor extends Polymer.Element{
  static get is(){return 'demo-receptor';}
  static get properties(){
    return {
      data:{
        type: Object,
        value: {}
      }
    };
  }
  showData(response){
    console.log("receptor:", response)
    this.data = response;
  }
  logout(e){
    console.log("DTA",this.data);
    this.$.logoutRequest.body = JSON.stringify(this.data);
    this.$.logoutRequest.generateRequest();
  }
  responseOK(event) {
     var response = event.detail.response;
     console.log("respuestaLogoutok",response);
     this.dispatchEvent(new CustomEvent('logoutok',{detail:{"id":response.id,"email":this.data.email,"password":this.data.password,"msg":response.msg}}));
   }
   responseError(event) {
      var response = event.detail.request.response.msg;
      console.log("respuestaLogout",response);
      this.dispatchEvent(new CustomEvent('logoutok',{detail:{msg:response}}));
    }
}
window.customElements.define(DemoReceptor.is, DemoReceptor);
</script>
