<dom-module id="login-app">
  <template is="dom-bind">
      <h1>Bienvenido, Digite sus datos.</h1>
      <span>Correo :</span>
      <input type="text" name="email" id="email" value="{{data.email::input}}"><br>
      <span>Password:</span>
      <input type="password" name="password" id="password" value="{{data.password::input}}"><br>
      <button on-click="login">Ingresar</button><br>
      <h3>{{displayError}}</h3>
      <iron-ajax
          id="loginRequest"
          url="http://localhost:3000/colapi/v3/loginmlab"
          handle-as="json"
          content-type="application/json"
          method="post"
          on-error="responseError"
          on-response="responseOK">
      </iron-ajax>
  </template>
</dom-module>
<script>
class LoginApp extends Polymer.Element{
  static get is(){return 'login-app';}
  static get properties(){
    return {
      data:{
        type: Object,
        value: {}
      },
      displayError:{
        type: String
      }
    };
  }
  login(e){
    this.$.loginRequest.body = JSON.stringify(this.data);
    this.$.loginRequest.generateRequest();
  }
  clearData(response){
    this.data = {};
    this.displayError = "";
  }
  responseOK(event) {
     var response = event.detail.response;
     console.log("respuesta",response);
     this.dispatchEvent(new CustomEvent('loginok',{detail:{"id":response.id,"email":this.data.email,"password":this.data.password,"msg":response.msg}}));
   }
   responseError(event) {
      this.displayError = event.detail.request.response.msg;
    }
}
window.customElements.define(LoginApp.is, LoginApp);
</script>
